.country-work{
    font-family: Circe;
    margin-bottom: 110px;
}
.country-work__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 24px;
}
.country-work__body{
    display: flex;
}
.country-work__content{
    max-width: 612px;
    flex: 1 1 0;
}
.country-work__map{
    flex: 1 1 0;
}
.country-work__map img{
    max-width: 100%;
    height: auto;
    display: block;
}
.country-work__row{
    display: flex;
}
.country-work__list{
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.country-work__list:first-child{
    margin-right: 30px;
}
.country-work__item{
    margin-bottom: 12px;
}
.country-work__name{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}
.country-work__anons{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

@media (max-width: 1023px) {
    .country-work{
        margin-bottom: 40px;
    }
    .country-work__title{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .country-work__name{
        line-height: 24px;
    }
}
@media (max-width: 767px) {
    .country-work{
        margin-bottom: 20px;
    }
    .country-work__body{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .country-work__title{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .country-work__name{
        font-size: 16px;
    }
    .country-work__name{
        font-size: 12px;
        line-height: 20px;
    }
}