.history-company{
    font-family: Circe;
    margin-bottom: 80px;
    overflow: hidden;
}
.history-company__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.history-company__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 30px;
}
.history-company__anons{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.history-company__year{
    display: none;
}
.history-company__caption{
    display: none;
}
.history-company__slider{
    width: 100%;
    max-width: 640px;
    position: relative;
    padding: 0 85px;
}
.history-company__slider img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.history-company__nav{
    margin-top: 67px;
    border-top: 1px solid #D1D1D1;
    padding: 13px 0;
}
.history-company__nav .swiper{
    overflow: visible;
}
.history-company__nav .swiper-slide{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    cursor: pointer;
    transition: height 1s ease;
}
.history-company__nav .swiper-slide-thumb-active{
    color: #D1D1D1;
    position: relative;
}
.history-company__nav .swiper-slide-thumb-active:before{
    content: '';
    position: absolute;
    top: -234px;
    left: 50%;
    transform: translate(-50%,0);
    width: 1px;
    height: 220px;
    background-color: #D1D1D1;
    transition: height 1s ease;
}
.history-company__nav .swiper-slide-thumb-active:after{
    content: '';
    position: absolute;
    top: -234px;
    left: 50%;
    transform: translate(-50%,0);
    width: 11px;
    height: 11px;
    background-color: #D1D1D1;
    border-radius: 50%;
}

.history-company .swiper-button-prev{
    background-image: url("../img/slider-arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    left: 0;
}
.history-company .swiper-button-next{
    background-image: url("../img/slider-arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
    right: 0;
}
.history-company .swiper-button-prev:after,
.history-company .swiper-button-next:after{
    display: none;
}
.history-company .swiper-pagination{
    display: none;
}
@media (max-width: 1023px) {
    .history-company{
        margin-bottom: 40px;
    }
    .history-company__title{
        font-size: 24px;
        line-height: 32px;
    }
    .history-company__slider{
        max-width: 440px;
    }
}
@media (max-width: 767px) {
    .history-company{
        margin-bottom: 20px;
    }
    .history-company__title{
        font-size: 24px;
        line-height: 32px;
    }
    .history-company__body{
        grid-template-columns: 1fr;
    }
    .history-company__nav{
        display: none;
    }
    .history-company__year{
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        margin: 10px auto;
    }
    .history-company__caption{
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #333333;
    }
    .history-company__slider{
        max-width: 340px;
        padding: 0;
        margin: 0 auto;
    }
    .history-company .swiper-button-prev{
        width: 25px;
        height: 25px;
        left: 25px;
        top: 40%;
    }
    .history-company .swiper-button-next{
        width: 25px;
        height: 25px;
        right: 25px;
        top: 40%;
    }
    .history-company .swiper-pagination{
        display: block;
        position: relative;
        bottom: 0;
    }
    .history-company  .swiper-pagination-bullet{
        background-color: #F6F6F6;
    }
    .history-company  .swiper-pagination-bullet-active{
        background-color: #EB292F;
    }

}
