.rate-the-store{}
.rate-the-store p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.rate-the-store__header{
    margin-bottom: 32px;
}
.rate-the-store__personal{
    max-width: 520px;
}
.rate-the-store__body .form-checkbox{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.rate-the-store__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #333333;
    margin: 0 0 20px;
}
.rate-the-store__h2{
    margin-bottom: 20px;
}
.rate-the-store__subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    margin: 0 0 5px;
}
.rate-the-store .form-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 0 0 8px;
}
.rate-the-store .form-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
    margin: 0 0 8px;
}
.rate-the-store .form-group {
    margin-bottom: 20px;
}
.rate-the-store .form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 0 0 8px;
    display: block;
}
.rate-the-store .form-label span{
    color: #EB292F;
}
.rate-the-store .form-small{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
.rate-the-store .form-control{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
}
.rate-the-store textarea.form-control{
    resize: none;
    max-width: 520px;
    max-height: 200px;
}
.rate-the-store .form-select {
    padding: 10px 2rem 9px 12px;
    display: block;
    width: 100%;
    -moz-padding-start: calc(0.75rem - 3px);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K");
    background-position: right 0.875rem center;
    background-repeat: no-repeat;
    background-size: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rate-the-store .form-select:hover {
    outline: none;
}
.rate-the-store .form-select:focus {
    outline: none;
}
.rate-the-store .form-btn{
    width: 200px;
    height: 40px;
    text-align: center;
}
.rate-the-store__footer{
    max-width: 520px;
}

.radio{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 16px 0;
}
.radio__group{
    position: relative;
    max-width: 97px;
    flex: 1;
}
.radio__label{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    cursor: pointer;
    transition: all .3s ease;
}
.radio__label:hover{
    border-color: #e94d52;
    background-color: #e94d52;
    color: #ffffff;
    transition: all .3s ease;
}
.radio__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radio__input:checked+.radio__label{
    border-color: #EB292F;
    background-color: #EB292F;
    color: #ffffff;
}
.radio__input:disabled+.radio__label {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

@media (max-width: 767px) {
    .rate-the-store .form-group {
        margin-bottom: 16px;
    }
    .rate-the-store__title{
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 6px;
    }
    .rate-the-store__h2{
        margin-bottom: 20px;
    }
    .rate-the-store__subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .rate-the-store__body .form-checkbox{
        font-size: 14px;
    }
    .rate-the-store textarea.form-control{
        resize: none;
        max-width: 100%;
        max-height: 150px;
    }
    .rate-the-store .form-btn{
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .rate-the-store__header{
        margin-bottom: 16px;
    }
    .rate-the-store__personal{
        max-width: 100%;
    }
    .rate-the-store__footer{
        max-width: 100%;
    }
    .radio{
        gap: 0;
        align-items: center;
        margin: 9px 0;
    }
    .radio__label{
        height: 31px;
    }
}